<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.wzf.myuserprovider.dal.persistence.WfMemberAddressMapper">
  <resultMap id="BaseResultMap" type="com.study.wzf.myuserprovider.dal.entity.WfMemberAddress">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="recipient" jdbcType="VARCHAR" property="recipient" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="postCode" jdbcType="VARCHAR" property="postcode" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="defaultFlag" jdbcType="TINYINT" property="defaultflag" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wzf_member_address
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.study.wzf.myuserprovider.dal.entity.WfMemberAddress">
    insert into wzf_member_address (id, userId, recipient, 
      contact, city, address, 
      postCode, update_time, defaultFlag
      )
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{recipient,jdbcType=VARCHAR}, 
      #{contact,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{postcode,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{defaultflag,jdbcType=TINYINT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.study.wzf.myuserprovider.dal.entity.WfMemberAddress">
    update wzf_member_address
    set userId = #{userid,jdbcType=INTEGER},
      recipient = #{recipient,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      postCode = #{postcode,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      defaultFlag = #{defaultflag,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, userId, recipient, contact, city, address, postCode, update_time, defaultFlag
    from wzf_member_address
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, userId, recipient, contact, city, address, postCode, update_time, defaultFlag
    from wzf_member_address
  </select>
</mapper>